appdirs==1.4.0
h5py==2.6.0
Keras==1.2.2
numpy==1.12.0
opencv-python==3.2.0.6
packaging==16.8
protobuf==3.2.0
pyparsing==2.1.10
PyYAML==3.12
scipy==0.18.1
six==1.10.0
tensorflow-gpu==1.0.0
Theano==0.8.2
